<%- include('../partials/header') %>
<title>All Babies</title>
</head>
<body>
    <header class="header">
        <div class="container">
            <h1>All Babies</h1>
        </div>
    </header>
    <main class="main">
        <div class="container">
            <table class="table">
                <thead>
                    <tr>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
    <% allBabies.forEach(b => { %>
        <tr>
            <td>
                <div>
                    <strong>Name:</strong>
                </div>
            </td>
            <td>
                
                <div><%= b.name %></div>
                </td>
            </td>
            <td>
                
                    <div><strong>Date Of Birth:</strong></div>
                </td>
            </td>
            <td>
                
                    <div><%= b.dateofbirth %></div>
                </td>
            </td>
            <td>
                
                    <div><strong>Gender:</strong></div>
                </td>
            </td>
            <td>
                
                    <div><%= b.gender %></div>
                </td>
            </td>
            <td>
                <a href="/feed/<%= b._id %>/new">Add Feeding Schedule</a>
            </td>
        </tr>
    <%  })%>
</tbody>
</table>
</div>
</main>
</body>
<%- include('../partials/footer') %>